.place__paragraph-container {
  grid-area: text;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
}
@media screen and (max-width: 1023px) {
  .place__paragraph-container {
    row-gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph-container {
    padding-left: 16px;
  }
}
